.erste{
    color: white;
    justify-content: center;
    font-size: 12pt;
    height: 500px;
    background-image: url(bek.jpg);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.geschechte{
    font-size: 12pt;
    margin-top: 20px;
    justify-content: space-between;
    height: 500px;
}
.img{
    border-radius: 20px;
}
.geroi2 img{
height: 300px;
}
.geroi2{
    background-color: #ececec;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}
.textg{
    background-color:#8C93A8;  
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 40px;
    color: white;
    border-radius: 20px;
}
.textgl{
    background-color: #70CAD1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 40px;
    color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.kiber img{
    height: 315px;
}
.yutuberi{
    background-color: #ececec;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.erste row{
height: 500px;
}
.geschechte .card2, .text2{
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vidos{
    justify-content: center;
    width: 100%;
    margin-top: 20px;    
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-image: url(verh2.png) no-repeat;
    border-radius: 30px;
}
.card{
    border-radius: 10px;
    background-color: black;
    color: white;
    border-radius: 0px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
}
#carouselExampleCaptions{
    height: 400px;
    margin-left: 14%;
}
#carouselExampleCaptions img{
    height: 400px;
}
.card2{
    background-color: #8C93A8;
    color: white;
    border-radius: 20px;
}
.noviy{
    justify-content: center;
    width: 100%;
}
.kibert{
    text-align: center;
    background-image: url(kibert2..png);
    width: 50%;
    color: white;
}
.carouse{
    width: 50%;
}
.rozvitok{
    margin-top: 60px;
}
#cho{
}
.podvalchik {
    padding:40px 0;
    background-color:#ececec;
    color:#4b4c4d;
    margin-top: 20px;
}
.card:hover{
    background-color: rgb(14, 14, 14);
    transform: scale(1.1);
}
#steam,li, a{
    transition: 0.5s;
}
#steam,a,li:hover{
    transform: scale(1.1);
}

  
  .podvalchik ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .podvalchik li {
    padding:0 10px;
  }
  
  .podvalchik ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .podvalchik ul a:hover {
    opacity:1;
  }
  
  .podvalchik .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .podvalchik .social  a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .podvalchik .social  a:hover {
    opacity:0.9;
  }
  
  .podvalchik .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .margin{
      margin-top: 50px;
      margin-bottom: 50px;
  }